user nginx;
worker_processes 1;
pid        /var/run/nginx.pid;
error_log  /var/log/nginx/error.log;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    keepalive_timeout 30;

    upstream goweb_upst {
{% if backend_unix_domain_socket %}
        server unix:{{ unix_domain_socket_path }};
{% else %}
        server 127.0.0.1:{{ goweb_port }};
{% endif %}
    }

    server {
        listen       80;
        server_name  {{ server_name }};

        location ~^/api/.*$ {
            proxy_pass http://goweb_upst;
            proxy_set_header X-Forwarded-Host $host;
        }
    }
}
